.header
    background-image: url('./img/bgdark.png')
    background-size: cover
    background-position: center
    background-color: black
    
#heading
    bottom: 20px
    animation: type-effect 1s infinite
    padding-right: 5px
    // font-size: 4rem



@keyframes type-effect
    0%
        border-right: 4px solid transparent
    49%
        border-right: 4px solid transparent
    50%
        border-right: 4px solid white
    100%
        border-right: 4px solid white