header {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-position: center;
	position: relative;
	z-index: 1;
	@media(max-width: 768px) {
		height: 102vh;
	}
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to top, rgba(0,0,0,0.7) 80%, black), url('bg.jpg');
/*		background: var(--blue);*/
		background-size: cover;
		background-position: center;
		filter: brightness(1.5) saturate(4) contrast(.8);
	}
	h1 {
		font-size: 6rem !important;
	}
	.ctas {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
		a {
			padding: 1rem 2rem;
			font-size: 2rem;
			background: var(--white);
			color: var(--black);
			margin: 0 1rem;
			border-radius: 5px;
			cursor: pointer;
			text-decoration: none;
			&:hover {
				background-color: var(--black);
				color: white;
			}
		}
	}

}

#nav-details {
	z-index: 200;
	top: 1.9rem;
	position: fixed;
	&::after {
		z-index: 200;
		filter: invert(1);
	}
	summary {
		z-index: 200;
	}
}



